.wrapper {
    padding: 20px;
}

.errors {
    white-space: pre-line;
    color: red;
}


.chakra-ui-dark {
    background-color: #2D3748;
    color: #38B2AC;
}

.chakra-ui-light {
    background-color: rgba(255, 255, 255, 0.48);
    color: #373b43;
}