apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: users
spec:
  type: state.mongodb
  version: v1
  metadata:
  - name: host
    value: localhost:27017 # Required unless "server" field is set . Example: "mongo-mongodb.default.svc.cluster.local:27017"
  # - name: username
  #   value: dapr-tests
  # - name: password
  #   value: daprtests
  - name: databaseName
    value: dapr-tcm
  - name: collectionName
    value: users
  - name: keyPrefix
    value: none
  - name: actorStateStore
    value: "true"
  - name: params 
    value: "?authSource=admin"


  # - name: writeconcern
  #   value: <REPLACE-WITH-WRITE-CONCERN> # Optional.
  # - name: readconcern
  #   value: <REPLACE-WITH-READ-CONCERN> # Optional.
  # - name: operationTimeout
  #   value: <REPLACE-WITH-OPERATION-TIMEOUT> # Optional. default: "5s"